@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Rubik:wght@400;700&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    outline: none;
    text-decoration: none;
}

body {
    background-color: #FBF8EC;
}

ul {
    list-style: none;
    margin: 0;
}

.container {
    max-width: 1208px;
    width: 100%;
    margin: 0 auto;
}

header.header {
    background: #fff;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav.header__nav {
    padding: 16px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 722px;
    width: 100%;
}

.header__nav-button {
    background: #70C05B;
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    padding: 8px;
    border: none;
    cursor: pointer;
    display: flex;
}

.header__nav-button__items {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5.5px 2.5px;
}

.header__nav-button__items span {
    display: block;
    width: 100%;
    background: #fff;
    height: 1px;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
}

.header-search {
    width: 100%;
    max-width: 374px;
    background: #fff;
    border: 1px solid #70C05B;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    padding: 8px;
}

.header-search input {
    border: none;
    font-size: 16px;
    line-height: 150%;
    width: 100%;
}

.header-search input::placeholder {
    color: #8F8F8F;
    font-size: 16px;
    line-height: 150%;
}

.nav-button__title {
    width: 92px;
    display: block;
}

.header-profile {
    width: 100%;
    max-width: 446px;
    display: flex;
    justify-content: space-between;
}

.header-profile__buttons {
    display: flex;
    max-width: 229px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

button.header-profile__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
    cursor: pointer;
    border: none;
    color: #414141;
    font-size: 12px;
    line-height: 150%;
    margin-right: 24px;
}

.header-profile__profile img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.header-profile__profile {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100%;
    max-width: 217px;
    padding: 16px;
    justify-content: space-between;
}

.profile-dropdown {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-dropdown img {
    width: 24px;
    height: 24px;
}

/* slider */

.slider {
   
}

.slider__content {
    display: flex;
    width: 100vw;
    position: relative;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.slider__image--bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;

}

.slider__image--frut {
    z-index: 1;
    box-shadow: (5px 11px 16px rgba(0, 0, 0, 0.2));;

}

.slider__title {
    

}

.slider__title-text {
    font-weight: 700;
    font-size: 48px;
    color: #414141;
    line-height: 72px;
    z-index: 10;
}

/* card */

.card {
    padding-top: 80px;
    padding-bottom: 120px;
}

.card__list {
    display: flex;
    justify-content: space-between;
}

.card__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 40px;

}

.card-right {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.card-right__text {
    margin-right: 22px;
    color: #606060;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}



.card__item {
    flex-direction: column;
    align-items: center;

    background-color: #fff;
    border: 4px;
}

.card__image {
    display: block;
}

.card__btn {
    display: flex;
    position: absolute;
    top: 130px; 
    left: 8px;
    z-index: 10;
    width: 57px;
    height: 32px;
    background-color: #FF6633;
    border-radius: 4px;
}

.card__btn-favorites {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 6px; 
    left: 231px;
    z-index: 10;
    width: 34px;
    height: 34px;
    
    
    background-color: #F3F2F1;
    border-radius: 4px;
}

.card__icon-favourites {
    display: flex;
    background-image: url("./assets/img/card/favorites.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 21px;
    height: 19px;


    
    
}



.card__image {
    position: relative;
}

.card__img {
    cursor: pointer;

}

.card__content {
    padding: 8px 8px 8px 8px;
}

.card__top {
    display: flex;
    justify-content: space-between;
}

.card__column {
    display: flex;
    flex-direction: column;
}

.card-column__margin {
    margin-top: 5px;
}

.card-row {
    margin-top: 8px;
    display: flex;
    align-items: center;
}

.card-row__title {
    color: #414141;
    margin-right: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 1px;
}

.card__subtitle {
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    color: #BFBFBF;
    margin-top: 4px;
}

.card__text {
    
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    margin: auto auto;

    color: #FFFFFF;
    
}







.card__title {
    color: #414141;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;

}

.card__title-usual {
    color: #606060;
    line-height: 1px;
    font-weight: 500;
    font-size: 16px;
    margin: 0;
    margin-right: 4px;
}




.card__btn-buy {
    display: block;
    cursor: pointer;
}

.card__discription {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 24px;
    width: 256px;

}

.card__rating {
    margin-bottom: 8px;
}

.card__btn-buy {
    background-color: #fff;
    border: 1px solid #70C05B;
    width: 256px;
    height: 40px;
    text-align: center;
    border-radius: 4px;
    color: #70C05B;
}
